
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #bdb495;
}

.menu-lateral {
    width: 20%;
    height: 100vh;
    background-color: #f8f2ce;
}

.menu-lateral h1 {
    color: #493d3f;
    text-align: center;
    padding: 20px;
}
.opcao-clientes {
    text-align: center;
    display: block;
    background-color: #bdb495;
    color: #493d3f;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}
.opcao-OS {
    text-align: center;
    display: block;
    background-color: #bdb495;
    color: #493d3f;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}
.menu-lateral-clientes {
    width: 20%;
    height: 100vh;
    background-color: #f8f2ce;
}
.menu-opcao-inicial {
    text-align: center;
    display: block;
    background-color: #bdb495;
    color: #493d3f;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}
.menu-lateral-clientes h1 {
    color: #493d3f;
    text-align: center;
    padding: 20px;
}
.opcao-Inspecoes {
    text-align: center;
    display: block;
    background-color: #bdb495;
    color: #493d3f;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}